@import url("../Utils/General.css");

.header {
    width: 100%;
    height: auto;
    padding: 2% 0%;
    margin: 0%;
    display: flex;
    background-color: var(--background);
}
.header .bar_div {
    width: 70%;
    height: auto;
    padding: 1% 2%;
    margin: 0% 2%;
    border-radius: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: var(--sub-background);
}
.header .bar_div .i_c {
    width: 35px;
    height: 35px;
    margin-right: 1%;
    border-radius: 50%;
    background-color: transparent;
    font-size: 90%;
}
.bar_div .fake_inp_bar {
    width: 80%;
    height: auto;
    padding: auto;
    margin: 0;
    background-color: transparent;
    color: #C8C8C8;
    font-size: 90%;
    overflow: hidden;
    text-wrap: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    letter-spacing: 0.4;
}

.header .i_c_div {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: right;
}
.header .i_c_div .icon-holder {
    margin: auto 2%;
    background-color: transparent;
    font-size: 95%;
}

.media_header {
    width: 96%;
    height: auto;
    padding: 4% 0%;
    margin: 0% 2%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    display: none;
}
.media_header .icon-holder {
    background-color: var(--sub-background);
    font-size: 90%;
}
.media_header .media__Date {
    width: auto;
    padding: 2%;
    margin: auto 2%;
    border-radius: 50px;
    background-color: var(--sub-background);
    letter-spacing: 0.4;
}

.weather__templ {
    width: 92%;
    height: auto;
    margin: 3% 4%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color);
}
.weather__templ .first, .weather__templ .second {
    width: 96%;
    margin: 2%;
    padding: 2% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    text-align: right;
}
.first .fig {
    width: 80px;
    height: 65px;
    margin: 1%;
    border-radius: 8px;
    background-color: transparent;
    object-fit: cover;
    background-size: cover;
    font-size:;
}
.first .fig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.first .weather__condition {
    width: 100%;
    background-color: transparent;
    color: #000;
    font-size: 80%;
    text-align: right;
    font-weight: 450;
}
.second button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: #000;
}
.second .weather__temp {
    font-size: 180%;
}
.second .weather__location {
    font-size: 70%;
}

    .main {
        width: 96%;
        height: auto;
        padding: 2% 0%;
        margin: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main .pollution {
        width: 45%;
        height: auto;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: left;
    }
    .pollution .span {
        width: auto;
        height: auto;
        background-color: transparent;
        font-size: 80%;
        text-transform: capitalize;
        color: #D2D2D2;
    }
    .pollution .radius {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: conic-gradient(#424242 100%, #FFFFFF 0%);
    }
    .pollution .radius .inner {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: var(--background);
        font-size: 95%;
        font-weight: bold;
    }
    .main .sun {
        width: 50%;
        height: 90px;
        padding: 2%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--sub-background);
    }
    .sun div {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
    }
    .sun div .span, .sun div .unit {
        width: 100%;
        text-align: left;
        background-color: transparent;
    }
    .sun div .span {
        color: #D2D2D2;
        font-size: 70%;
    }
    .sun div .unit{
        font-size: 95%;
        font-weight: bold;
    }


.weather__details {
    width: 96%;
    margin: 3% 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
}
.label {
    width: 96%;
    margin: 2%;
    text-align: left;
    font-size: 110%;
    font-weight: bold;
}
.weather__details .Details {
    width: 96%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    text-align: left;
}
.weather__details .Details div {
    width: auto;
    height: auto;
    padding: 2%;
    margin: 1%;
    border-radius: 50px;
    display: flex;
    justify-content: left;
    background-color: var(--sub-background);
}
.Details div .span {
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 80%;
    text-transform: capitalize;
}
.Details div .unit {
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 80%;
}

.weather__forcast .Forcasts {
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 1% 0% 1% -3%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.Forcasts div {
    width: 95px;
    height: 120px;
    margin: 1% 2%;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color);
    scroll-snap-align: center;
}
.Forcasts div button {
    background-color: transparent;
    color: #000;
    font-size: 90%;
}
.Forcasts div .fig {
    width: 80%;
    height: auto;
    object-fit: cover;
    background-size: cover;
}
.Forcasts div .fig img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.Forcasts div .fig figcaption {
    display: none;
}

.loader {
    width: 100%;
    height: 70px;
    position: fixed;
    top: calc(40% - 50px);
    left: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader .icon {
    width: 40%;
    height: 70%;
}

.page_forcast {
    position: relative;
    width: 40%;
    height: 94%;
    padding: auto;
    margin: 3% 2%;
    background-color: var(--background);
    display:;
}

.weather__details .Details {
    border-radius: 15px;
    background-color: var(--sub-background);

}
.weather__details .Details div {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: var(--sub-background);
}
.Details div .span {
    color: #D2D2D2;
    font-size: 65%;
    text-align: left;
}
.Details div .unit {
    font-size: 85%;
    font-weight: bold;
    text-align: left;
}
.page_forcast, .page_forcast > main {
    display: block;
}
.page_forcast {
    overflow: auto;
}
.label {
    width: 96%;
    margin: 2%;
    text-align: left;
    font-size: 110%;
    font-weight:;
}
.weather__forcast .Forcasts {
    width: 92%;
    height: auto;
    padding: 3% 2%;
    margin: 1% auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--sub-background);
}
.Forcasts div {
    width: 96%;
    height: 40px;
    margin: 2%;
    padding: 2% auto;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.Forcasts div button {
    color: #fff;
}
.Forcasts div .fig {
    width:  50%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left ;
    text-align: left;
}
.Forcasts div .fig img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: ;
}
.Forcasts div .fig figcaption {
    display: block;
    color: #fff;
}

.form {
    width: 96%;
    height: auto;
    padding: 2%;
    margin: auto;
    border-radius: 15px 15px 0 0;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: var(--sub-background);
}
.form .header {
    width: 96%;
    padding: 2%;
    margin: 2% 0%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.form .header .span {
    background-color: transparent;
    text-align: left;
    font-size: 95%;
    font-weight: bold;
    letter-spacing: 0.4;
}
.form .header .icon-holder {
    background-color: transparent;
    font-size: 85%;
}
.form .mainItm {
    width: 100%;
    height: auto;
    padding: 1% auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.mainItm .measurement {
    width: 98%;
    padding: 3% 0%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.mainItm .measurement button {
    width: auto;
    text-align: left;
    font-size: 90%;
    background-color: transparent;
}
.form footer {
    width: 98%;
    height: auto;
    padding: 2%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form footer button {
    width: 70%;
    padding: 2%;
    margin: 2% 3%;
    border-radius: 5px;
    border: 1px solid #4E4E4E;
    background-color: transparent;
}